@page
@model Designo.Website.Pages.AboutModel
@using Designo.Website.Props

@{
    ViewData["Title"] = "About us";
    Dictionary<AboutProperty, String> section1Props = new()
    {
        {AboutProperty.ID, "1" },
        {AboutProperty.IMAGE_SM, "/assets/about/mobile/image-about-hero.jpg" },
        {AboutProperty.IMAGE_MD, "/assets/about/tablet/image-about-hero.jpg" },
        {AboutProperty.IMAGE_LG, "/assets/about/desktop/image-about-hero.jpg" },
        {AboutProperty.MT, "0px"}
    };
}


<div class="pb-[365px]">

    <!--Hero Section 1 -->
    <partial name="_AboutHero" for="@section1Props" />

    <!--Top Leaf-->
    <img class="hidden absolute top-[200px] z-[-2] left-0 max-w-[1006px] w-full h-[594px] lg:block" src="~/assets/shared/desktop/bg-pattern-leaf.svg">


    <!--Hero Section 2-->
    <div class="w-full md:mt-[135px]">
        <partial name="_AboutImageSection"
                 for="@Model.Contents[0]"
                 view-data="new ViewDataDictionary(ViewData){ { AboutProperty.FLEX_DIRECTION.ToString(), @Html.Raw("lg:flex-row") }}" />
    </div>

    <!--Locations-->
    <div class="w-[87%] mx-auto mt-[92px] flex flex-col gap-[48px] md:flex-row md:justify-around">
        @foreach(var location in Model.Locations)
        {
           <partial name="_LocationIllustration" for="@location" /> 
        }
    </div>

    <!--Hero Section 2-->
    <div class="w-full mt-[135px]">
        <partial name="_AboutImageSection"
                 for="@Model.Contents[1]"
                 view-data="new ViewDataDictionary(ViewData){ { AboutProperty.FLEX_DIRECTION.ToString(), @Html.Raw("lg:flex-row-reverse") }}" />
    </div>
</div>
